@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* <a asp-controller="Display" asp-action="AddDisplay">Add display</a> *@
@* <br> *@
@* <a asp-controller="Processor" asp-action="AddProcessor">Add processor</a> *@
@* <br> *@
@* <a asp-controller="ProcessorCompany" asp-action="AddProcessorCompany">Add processor company</a> *@
@* <br> *@
@* <a asp-controller="NotebookCategory" asp-action="AddNotebookCategory">Add notebook category</a> *@
@* <br> *@
<a asp-controller="NotebookCompany" asp-action="AddNotebookCompany">Add notebook company</a>
<br>
@* <a asp-controller="OperationSystem" asp-action="AddOperationSystem">Add operation system</a> *@
@* <br> *@
<a asp-controller="Notebook" asp-action="AddNotebook">Add notebook</a>