# List of dependencies for Telegram Bot
# These are required libraries for various project functionalities
# install it with : pip install -r requirements.txt


# Web framework for handling HTTP requests
flask>=2.0.1

# Database library for interacting with PostgreSQL
psycopg2-binary>=2.9.1

# Library for sending and receiving messages via Telegram API
python-telegram-bot>=20.5  # Used for Telegram bot integration

# Data manipulation library for pandas
pandas>=1.3.3


